/* ===== Responsive ===== */
@media (max-width: 768px) {
    .ProcessContainer {
        height: auto;
    }

    .ProcessContainer h1 {
        font-size: 26px;
    }

    .iconsTexts {
        flex-direction: column;
        padding: 0 20px;
        align-items: center;
        gap: 10px;
    }

    .arrowLeft,
    .arrowRight {
        display: none;
    }

    .text {
        text-align: center;
    }

    .iconsInd {
        width: 70px;
        height: 70px;
        padding: 20px;
    }
}
